@charset "utf-8";

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
button,
table {
  font-family: noto, "맑은고딕", "Malgun Gothic", "Apple SD Gothic Neo",
    sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}
img,
fieldset {
  border: 0;
}
ul,
ol,
dl,
li {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
img {
  vertical-align: top;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: inherit;
}
button {
  overflow: visible;
  border: 0;
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button span {
  position: relative;
}
.blind {
  overflow: hidden;
  position: absolute;
  top: -99em;
  left: 0px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
