/* viz */
.ReactVirtualized__Table__headerRow {
  background: #ccc;
}
.ReactVirtualized__Table__row {
  border-top: 1px solid #999;
}

input[type="text"],
input[type="password"] {
  padding: 5px 5px;
  border: 1px solid #999;
  border-radius: 3px;
}
